---
# Install generic configuration
- name: "Setup base configuration."
  ansible.builtin.template:
    src: "nginx.conf.j2"
    dest: "{{ nginx_conf_dir }}/nginx.conf"
    owner: "root"
    group: "root"
    mode: "0644"
  notify: "Reload {{ role_name }}."

# Remove old specific configurations
- name: "Remove old extended configuration."
  ansible.builtin.file:
    dest: "{{ nginx_confd_dir }}/{{ item | regex_replace('\\.j2') }}"
    state: "absent"
  loop:
    - "logging.conf.j2"
    - "tls.conf.j2"

- name: "Remove old site configuration dir."
  when: "ansible_facts.os_family == 'RedHat'"
  ansible.builtin.file:
    dest: "{{ nginx_conf_dir }}/sites-enabled"
    state: "absent"

# Install specific configurations
- name: "Setup extended configuration."
  ansible.builtin.template:
    src: "confd/{{ item }}"
    dest: "{{ nginx_confd_dir }}/{{ item | regex_replace('\\.j2') }}"
    owner: "root"
    group: "root"
    mode: "0644"
  loop:
    - "00-logging.conf.j2"
    - "10-tls.conf.j2"
    # - "11-ocsp.conf.j2"
  loop_control:
    label: "{{ item | regex_replace('\\.j2') }}"
  notify: "Reload {{ role_name }}."

- name: "Setup site configurations."
  ansible.builtin.copy:
    content: |
      {{ item.value }}
    dest: "{{ nginx_sites_dir }}/{{ item.key }}"
    owner: "root"
    group: "root"
    mode: "0640"
  loop: "{{ nginx_sites | default({}) | dict2items }}"
  loop_control:
    label: "{{ item.key }}"
  notify: "Restart {{ role_name }}."

- name: "Copy TLS server certificates."
  when: "nginx_tls_certificates | length > 0"
  block:
    - name: "Create TLS certs dir."
      become: true
      ansible.builtin.file:
        path: "{{ nginx_certs_dir }}"
        owner: "root"
        group: "root"
        mode: "0755"
        state: "directory"

    - name: "Copy TLS certificate."
      become: true
      ansible.builtin.copy:
        content: |
          {{ item.certificate_content }}
        dest: "{{ nginx_certs_dir }}/{{ item.name }}.cer"
        owner: "root"
        group: "root"
        mode: "0644"
      loop: "{{ nginx_tls_certificates }}"
      loop_control:
        label: "{{ item.name }}"
      notify: "Restart {{ role_name }}."

    - name: "Copy TLS private key."
      when: "item.private_key_content is defined"
      become: true
      ansible.builtin.copy:
        content: |
          {{ item.private_key_content }}
        dest: "{{ nginx_certs_dir }}/{{ item.name }}.key"
        owner: "root"
        group: "root"
        mode: "0600"
      loop: "{{ nginx_tls_certificates }}"
      loop_control:
        label: "{{ item.name }}"
      notify: "Restart {{ role_name }}."

# We have to do config validation as a seperate task because the validate parameter
# of the template module requires us to have an "%s" for the config file path in the command
# which 'nginx -t' doesn't support.
- name: "Validate config."
  become: true
  ansible.builtin.command:
    cmd: "nginx -t"
  register: "__nginx_validate_config"
  changed_when: false
