---
- name: "Restart {{ role_name }}."
  become: true
  ansible.builtin.service:
    name: "{{ nginx_service_name }}"
    state: "restarted"

- name: "Reload {{ role_name }}."
  become: true
  ansible.builtin.service:
    name: "{{ nginx_service_name }}"
    state: "reloaded"
